body {
    font-family: Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    text-shadow: 0.5px 0.5px 0.5px #ccc;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.email {
    font-family: 'Courier New', Courier, monospace;
}